
<!-- include header -->
    <%- include('include/_header') %>
<!-- /include header -->


<div class="container">
    <div class="row my-4">
        <div class="col-lg-12">         
            <div class="table-responsive">
                    <table class="table table-striped text-center my-3">
                        <thead>
                            <tr class="table-dark">
                                <th>ID</th>
                                <th>Image</th>
                                <th>Tên SP</th>
                                <th>Mã SP</th>
                                <th>Đơn giá</th>
                                <th>Màu sắc</th>
                                <th>Số lượng</th>
                                <th>Trạng thái</th>
                                <th>Mô tả</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%- include('include/_show_product.ejs') %>
                            
                        </tbody>
                    </table>
             
                
            </div>
        </div>
    </div>
</div>





<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->