

<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->

        <div class="form-title text-center">
            <h2 class="text-dark">Sign Up</h2>
        </div>

        <!-- add user form -->
         <!-- form handling -->


<div class="container">
    <div class="row">
       <div class="col-lg-6 mx-auto mt-4">
        <div class="card shadow">
            <div class="card-header bd-success">
                <h3 >Sign Up</h3>
            </div>
            <div class="card-body p-4">
                <%- include('include/_form.ejs') %>
            </div>
        </div>
       </div>
    </div>
</div>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
